@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

.mars {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 12px -6px #d0d4d6;
    margin: 10px;
    width: 100%;

    &__grid {
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;

        &-item {
            align-items: flex-start;
            background-color: white;
            display: flex;
            height: 150px;
            justify-content: flex-end;
            padding: 10px;
            position: relative;
            transition: all .25s ease-in;
            width: calc(100% / 5 - 21px);
            border-bottom: 1px solid #e7eaeb;
            &:nth-child(n):not(:nth-child(5n)) {
                border-right: 1px solid #e7eaeb;
            }

            .coordinates {
                align-items: center;
                border: 1px solid #efefef;
                border-radius: 51px;
                color: #616a71;
                display: flex;
                font-family: 'Dosis', sans-serif;
                font-weight: bolder;
                height: 25px;
                justify-content: center;
                min-width: 40px;
                padding: 3px 17px;
                transition: all .25s ease-in;
            }
            
            &:hover {
                background-color: #2bc2a3;
                border-radius: 5px;
                box-shadow: 0 0 8px -3px #4a5e69;
                z-index: 1;

                .coordinates {
                    background-color: white;
                    color: #979ea6;
                    transform: scale(1.1);
                    box-shadow: 1px 1px 3px 0px #898c8e;
                }
            }
        }
    }
}